@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.section{
    font-family: "Inter", sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    order:1;
    width:36vw;
    height: 45vh;
    /*border:1px solid white;*/
    background-color: black;
    border-radius: 25px;
    transform: translateX(4%) translateY(15%);
}

.section2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    order:1;
    width:36vw;
    height: 37vh;
    /*border:1px solid white;*/
    background-color: black;
    border-radius: 25px;
    transform: translateX(4%) translateY(20%);
}

.projetos1, .projetos2{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-radius:25px;
    width:95%;
    height:45%;
}

#projeto3, #projeto4, #projeto5{
    border:1px solid black;
    width:30%;
    height:95%;

}

#projeto1, #projeto2{
    border:1px solid black;
    width:48%;
    height:95%;
} 

#headersection, #title, #github, #linkedin, #descriptionsection, #softsection{
    height: 30px;
    border-radius: 25px;
}

#headersection{
    width:95%;
    display:flex;
    flex-direction: row;
}

#title{
    font-weight: bold;;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    color:#FFFFFF;
    font-size:14pt;
    width:60%;
}

#title>p{
    margin-left:5%;
}

.redessociais{
    align-items: center;
    justify-content: space-around;
    display:flex;
    flex-direction: row;
    width:40%;
    color:white;
}

#descriptionsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:95%;
    height:35%;
    color:white;
}

#softsection{
    border:1px solid #FFFFFF;
    width:95%;
    height:45%;
}

#github>a, #linkedin>a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff3f;
    width:100%;
    height: 30px;
    border-radius: 25px;
    color:#FFFFFF;
    text-decoration: none;
}

#github, #linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff3f;
    width:48%;
}

#github>a:hover, #linkedin>a:hover{
    color:#000000;
    cursor: pointer;
    background-color: #FFFFFF;
}